{% extends "base.html" %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Railroad System</h1>
      <h2 class="subtitle">Reserve your seat today!</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-two-thirds is-offset-2">

      <!-- short form for filtering results -->
      <form action="{{ url_for('search') }}" method="GET">
        <!-- trip date, station start, and station end -->
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ form.date.label }}</label>
              <div class="control">{{ form.date(class_="input", type="date") }}</div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">{{ form.station_start.label }}</label>
              <div class="control">
                <div class="select">
                  {{ form.station_start }}
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">{{ form.station_end.label }}</label>
              <div class="control">
                <div class="select">
                  {{ form.station_end }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- types of passengers -->
        <div class="field">
          <label class="label">Types of Passengers</label>

          <div class="columns">
            <div class="column">
              <label class="label">{{ form.num_adult.label }}</label>
              <div class="control">{{ form.num_adult(class_="input", type="number", min="0") }}</div>
            </div>

            <div class="column">
              <label class="label">{{ form.num_child.label }}</label>
              <div class="control">{{ form.num_child(class_="input", type="number", min="0") }}</div>
            </div>

            <div class="column">
              <label class="label">{{ form.num_senior.label }}</label>
              <div class="control">{{ form.num_senior(class_="input", type="number", min="0") }}</div>
            </div>

            <div class="column">
              <label class="label">{{ form.num_military.label }}</label>
              <div class="control">{{ form.num_military(class_="input", type="number", min="0") }}</div>
            </div>

            <div class="column">
              <label class="label">{{ form.num_pets.label }}</label>
              <div class="control">{{ form.num_pets(class_="input", type="number", min="0") }}</div>
            </div>
          </div>
        </div>

        <div class="control">
          {{ form.submit(class="button is-link") }}
        </div>

      </form>
    </div>
  </div>

  <table class="table is-hoverable" align="center" width="75%">
    <thead>
      <tr>
        <th>Train ID</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Arrival time at the start station</th>
        <th>Number of Seats Free</th>
        <th>Base Price</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Train ID</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Arrival time at the start station</th>
        <th>Number of Seats Free</th>
        <th>Base Price</th>
      </tr>
    </tfoot>

    <tbody>
      {% for row in results %}
        <tr>
          <td><a href={{ url_for('make_reservation', train_id=row[0]) }} class="button is-info">Select</a></td>
          <td>row[0]</td>
          <td>row[1]</td>
          <td>row[2]</td>
          <td>row[3]</td>
          <td>row[4]</td>
          <td>row[5]</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>



{% endblock %}
