{% extends "base.html" %}

{% block content %}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Make a Reservation</h1>
      <h2 class="subtitle">Reserve your seat today!</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content columns">
    <div class="column is-two-thirds is-offset-2">
      <h2>Selected Train</h2>
      <table class="table is-hoverable" align="center" width="75%">
        <thead>
          <tr>
            <th>Train ID</th>
            <th>Departure Station</th>
            <th>Departure Time</th>
            <th>Arrival Station</th>
            <th>Arrival Time</th>
            <th>Seats Available</th>
            <th>Price</th>
          </tr>
        </thead>
        <tr>
          <td>{{ train_id }}</td>
          <td>{{ departure_station }}</td>
          <td>{{ departure_time }}</td>
          <td>{{ arrival_station }}</td>
          <td>{{ arrival_time }}</td>
          <td>{{ seats_available }}</td>
          <td>{{ price }}</td>
        </tr>
      </table>

      <div class="columns">
        <div class="column"><strong>Adult</strong>: {{ passengers[0] }}</div>
        <div class="column"><strong>Child</strong>: {{ passengers[1] }}</div>
        <div class="column"><strong>Senior</strong>: {{ passengers[2] }}</div>
        <div class="column"><strong>Military</strong>: {{ passengers[3] }}</div>
        <div class="column"><strong>Pets</strong>: {{ passengers[4] }}</div>
      </div>

      <form action="{{ url_for('make_reservation', train_id=train_id, departure_station=departure_station, departure_time=departure_time, arrival_station=arrival_station, arrival_time=arrival_time, seats_available=seats_available, price=price, num_adult=num_adult, num_child=num_child, num_senior=num_senior, num_military=num_military, num_pets=num_pets) }}" method="POST">
        {{ form.hidden_tag() }}

        <div class="columns">
          <div class="column">
            <div class="field">
              <div class="control">
                <label class="label">{{ form.first_name.label }}</label>
                {{ form.first_name(class="input") }}

                {% if form.first_name.errors %}
                  {% for error in form.first_name.errors %}
                    <p class="has-text-danger">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control">
                <label class="label">{{ form.last_name.label }}</label>
                {{ form.last_name(class="input") }}

                {% if form.last_name.errors %}
                  {% for error in form.last_name.errors %}
                    <p class="has-text-danger">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">{{ form.email.label }}</label>
            {{ form.email(class="input") }}

            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <p class="has-text-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">{{ form.credit_card.label }}</label>
            {{ form.credit_card(class="input") }}

            {% if form.credit_card.errors %}
              {% for error in form.credit_card.errors %}
                <p class="has-text-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="control">
          {{ form.submit(class="button is-link") }}
        </div>

      </form>
    </div>
  </div>

</section>


{% endblock %}