{% extends "base.html" %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">View Available Seats</h1>
      <h2 class="subtitle">See what we have to offer!</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <a href="{{ url_for('make_reservation') }}" class="button is-primary">Make a Reservation</a>
    <a href="{{ url_for('cancel_reservation') }}" class="button is-primary">Cancel a Reservation</a>
    
  </div>
</section>

{% endblock %}